.wrapper{
    display: flex;
    border: 1px solid;
    width: 50%;
    margin: auto;
    max-height: 30%;
}
.leftSec{
    flex: 1;
    position: relative;
    padding: 20px;
}
.rightSec{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.changePicBtn{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border: 0.3px solid grey;
}
.changePicBtn:hover{
    background-color: red;
    color: white;
}